<%= simple_form_for @post do |f| %>
    <% if @post.error.any? %>
        <div id="error_explantaion">
            <h2>
                <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
            </h2>
            <ul>
                <% @post.error.ful_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
                <% end %>
            </ul>
        </div>
        <% end %>
        
        <div class="form-group">
            <%= f.input :title, class: "form-group" %>
        </div>
        
        <div class="form-group">
            <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
        </div>
        
        <div class="form-group">
            <%= f.button :submit %>
        </div>
        <% end %>